:root{
    --very-light-link:#c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #dd7397;
    --white: #ffff;
    --black:#000000;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
*{
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;       /* centrar contenido */
    place-items: center; /* centrar contenido */
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;          /* centrar elementos */
}
.logo{
    margin-bottom: 50px;
    justify-self: center;  /*CENT/* centrar imagen */
    display: none;         /* desaparece en parte mobile */
    width:100px;
}
.title{
    font-size:var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: var(--very-light-link);
    font-size: var(--md);
    font-weight: 300;
    margin-top:0 ;
    margin-bottom: 32px;
    text-align: center;
}
.email-img{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-bottom: 24px;
}
.email-img img{
    width: 80px;
    color: var(--hospital-green);
}
.resend{
    font-size: var(--sm);
}
.resend span{
    color: var(--very-light-link);
}
.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 30px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px){
    .logo{
        display: block;
    }
} 