:root{
    --very-light-link:#c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #dd7397;
    --white: #ffff;
    --black:#000000;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
*{
    margin: 0;
}
body{
    font-family: 'Quicksand', sans-serif;

}
.login{
    width: 100%;
    height: 100vh;
    display: grid;       /* centrar contenido */
    place-items: center; /* centrar contenido */
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    margin-top: 50px;
}
.logo{
    margin-bottom: 50px;
    justify-self: center;  /*CENT/* centrar imagen */
    display: none;         /* desaparece en parte mobile */
    width:100px;
}
.title{
    font-size:var(--lg);
    margin-bottom: 22px;
    text-align: start;

}

.form{
    display: flex;          /* direccin horizontal */
    flex-direction: column; /* direccion vertical */
}
.form div{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.input-name,
.input-email,
.input-password{
    margin-bottom: 22px;

}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px){
    .form-container{
        height: 100%;
    }
   
    .form{
        height: 100%;
        justify-content: space-between;
    }
    .primary-button{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
} 